In [21]:
import pandas as pd 
import numpy as np

In [22]:
cd C:\Users\Marcus\Desktop\python\alf_sports_betting_predictor\data

C:\Users\Marcus\Desktop\python\alf_sports_betting_predictor\data

In [23]:
df = pd.read_csv('20210322 AFL_2020_team_stats_and_win_loss_trimmed.csv')

In [24]:
df

,kicks_home_team,one-percenters_home_team,kicks_away_team,one-percenters_away_team,home_win_lose,away_win_lose
0,3587.0,862.0,3071.0,719.0,1,0
1,3007.0,793.0,3301.0,819.0,0,1
2,2854.0,708.0,2975.0,718.0,1,0
3,2661.0,641.0,2975.0,741.0,0,1
4,2990.0,685.0,3444.0,872.0,0,1
...,...,...,...,...,...,...
148,3444.0,801.0,3071.0,719.0,1,0
149,2794.0,758.0,2990.0,685.0,1,0
150,2975.0,741.0,3976.0,897.0,0,1
151,2975.0,718.0,3007.0,793.0,0,1
152,3301.0,819.0,3444.0,872.0,0,1

In [25]:
def normalise_column(df, column):
    df[column + '_normalise'] = (df[column] - df[column].min()) / (df[column].max() - df[column].min())
    return df

In [26]:
df.columns

Index(['kicks_home_team', 'one-percenters_home_team', 'kicks_away_team',
       'one-percenters_away_team', 'home_win_lose', 'away_win_lose'],
      dtype='object')

In [27]:
df = normalise_column(df, df.columns[0])
df = normalise_column(df, df.columns[1])
df = normalise_column(df, df.columns[2])
df = normalise_column(df, df.columns[3])

In [28]:
df

,kicks_home_team,one-percenters_home_team,kicks_away_team,one-percenters_away_team,home_win_lose,away_win_lose,kicks_home_team_normalise,one-percenters_home_team_normalise,kicks_away_team_normalise,one-percenters_away_team_normalise
0,3587.0,862.0,3071.0,719.0,1,0,0.704183,0.863281,0.311787,0.304688
1,3007.0,793.0,3301.0,819.0,0,1,0.263118,0.593750,0.486692,0.695312
2,2854.0,708.0,2975.0,718.0,1,0,0.146768,0.261719,0.238783,0.300781
3,2661.0,641.0,2975.0,741.0,0,1,0.000000,0.000000,0.238783,0.390625
4,2990.0,685.0,3444.0,872.0,0,1,0.250190,0.171875,0.595437,0.902344
...,...,...,...,...,...,...,...,...,...,...
148,3444.0,801.0,3071.0,719.0,1,0,0.595437,0.625000,0.311787,0.304688
149,2794.0,758.0,2990.0,685.0,1,0,0.101141,0.457031,0.250190,0.171875
150,2975.0,741.0,3976.0,897.0,0,1,0.238783,0.390625,1.000000,1.000000
151,2975.0,718.0,3007.0,793.0,0,1,0.238783,0.300781,0.263118,0.593750
152,3301.0,819.0,3444.0,872.0,0,1,0.486692,0.695312,0.595437,0.902344

In [29]:
mask = df[df.columns[0]].isna() | df[df.columns[1]].isna() | df[df.columns[2]].isna() | df[df.columns[3]].isna()

In [30]:
df.loc[mask]

Empty DataFrame
Columns: [kicks_home_team, one-percenters_home_team, kicks_away_team, one-percenters_away_team, home_win_lose, away_win_lose, kicks_home_team_normalise, one-percenters_home_team_normalise, kicks_away_team_normalise, one-percenters_away_team_normalise]
Index: []

In [31]:
df.to_csv('20210317 AFL_2020_stats_win_loss_normalised.csv', index=False)